body{
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}
.main, .desk {
    background-color: #eee;
    width:99%;
    margin-left: 0.5% ;
    border-radius: 0.5%;
    margin-top: 2%;
}
h1,span{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}
h1{
    font-size: 2.5rem;
    padding-top: 3%;
}
.mini-title{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
div .image {
    margin:0;
    padding-top:0.5%;
    display:grid;
    justify-content: center;
    background: white 50%;
    margin-left: 1%;
    width:98%;
}
.photo {
   margin:0;
   padding-top: 2%;
   padding-bottom: 2%;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding-left:0%;
}
h2{
    display: flex;
    padding-left:40%;
    font-size:1.25rem;
    padding-top: 1%;
    padding-bottom: 2.5%;
    
}
li{
    display:list-item;
    width:37.5%;
    margin-left: 31%;
    padding: auto;
    padding-bottom:1.5%;
    line-height:1.5rem;
    min-width: 37.5%;
}
.citate{
    padding-left:30%;
    padding-top:1%;
    font-style: italic;
    width:37.5%;
}
.author{
    display:inherit;
    margin-left: 30%;
    padding-bottom: 3%;
    font-style: italic;
}
.footer{
    padding-left:20%;
    font-size: 1.25rem;
    padding-bottom: 2%;
}
    